body {
    background: linear-gradient(90deg, lightgreen 50%, lightblue 50%);
}

.overlay {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    padding: 5px; 
}

#text-container {
    width: 70%; 
    height: 70%; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
    text-align: center;
}