<!DOCTYPE html> 
<html>
    <head>
        <!--  CSS -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'tree/home-styles.css' %}" />
    </head>

    <div class=overlay id="text-container">
        <p> Welcome to the Heritage Structures Lab's Roman Materials Database!
            The Historic Materials Database is an interactive database of construction materials used in antiquity.
            This is the first step of a larger project that will enable a wider audience to create 3D and virtual 
            reality (VR) models of historic structures.  By helping a user build accurate models, the project will 
            provide new perspectives of historic buildings and cities to historians, archaeologists, and others who 
            study the past. The project offers an interactive map which can be used to gather information on construction 
            materials within a geographical area based on the user's filters. 
        </p>
        <p> An account is required to edit information on this site but not to use other features.</p>
        <div class="map-container">
            <a href="/map/">Go to Map</a>
        </div>
        {% if user.is_authenticated %}
            <div class="logout-container">
                <a href="/logout/">Logout</a>
            </div>
        {% else %}
            <div class="login-container">
                <a href="/accounts/login/">Login</a> or <a href="/accounts/register/">Register</a>
            </div>
        {% endif %}
        <hr>
        Search for items directly <a href="/search">here</a>!
        {% if user.is_authenticated %}
        <hr>
            Didn't find something you expected? <br>
            Add <a href="/stones/create/">stones</a> or <a href="/trees/create">trees</a> to the database!
        {% endif %}
        {% if request.user.is_staff %}
            <hr>
            Check out new edits <a href="/edits-list/">here</a>!
        {% endif %}
    </div>
</html>