<html>
    <head>
        <!--  CSS -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'tree/success-styles.css' %}" />
    </head>

    <div class="overlay" id="text-container">
        <div id="text">
            Thank you for your submission! It will be reviewed and either accepted or 
            rejected by a staff member at a later date!
        </div>
        <div id="links">
            <a href="/">Go back to home</a><br>
            <a href="/map/">Go back to map</a>
        </div>
    </div>
</html>